@model IEnumerable<Livro>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo do livro</th>
            <th>Nome do autor</th>
            <th>Nome do cliente</th>
            <th>Devolver</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var livro in Model)
        {
        <tr>
            <td>@livro.LivroId</td>
            <td>@livro.Titulo</td>
            <td>@livro.Autor.Nome</td>
            <td>@livro.Cliente.Nome</td>
            <td><a class="btn btn-success" asp-area="" asp-controller="Devolucao" asp-action="DevolverLivro" asp-route-livroId="@livro.LivroId">Devolver</a></td>
        </tr>
        }
    </tbody>
</table>